body{
    background-image: linear-gradient(340deg,rgba(4, 0, 106, 0.905),rgb(5, 2, 49));
    color: white;
}
.namearea1{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(3, 1, 18, 0.83);
    border: none;
    margin: 10px;
    padding: 10px;
    color: white;
    border: rgb(2, 0, 40) 3px solid;
    transition: 0.8s;
}
.namearea2{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(3, 1, 18, 0.86);
    border: none;
    margin: 10px;
    padding: 10px;
    color: white;
    transition: 0.8s;
}
.namearea3{
    width: 437px;
    height: 240px;
    border-radius: 10px;
    background-color: rgba(3, 1, 18, 0.853);
    border: none;
    margin: 10px;
    padding: 10px;
    color: white;
    transition: 0.8s;
}

h1{
    font-size: 100px;
    padding: 0;
    margin: 0;
}
.but{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(3, 1, 18, 0.92);
    border: none;
    margin: 10px;
    padding: 10px;
    color:white;
    transition: 0.8s;
}
.namearea1:hover{
    background-color: rgba(3, 0, 39, 0.735);
    width: 315px;
    height: 50px;
}
.namearea2:hover{
    background-color: rgba(3, 0, 39, 0.735);
    width: 315px;
    height: 50px;
}
.namearea3:hover{
    background-color: rgba(3, 0, 39, 0.735);
    width: 459px;
    height: 250px;
}
.but:hover{
    background-color: rgba(3, 0, 39, 0.735);
    width: 60px;
    height: 60px;
}
